<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Coba VueJS</title>
</head>
<body>
  <div id="app2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!</span>
      <span v-if="seen">Now you see me</span>
      <p>{{message}}</p>
      <ol>
        <li v-for="todo in todos">
          {{ todo.text + " & " + todo.bahasa}}
        </li>
      </ol>
      <p>{{pesan}}</p>
      {{rubah}}<br>a
      <button v-on:click="reverseMessage">Reverse Message</button><br>
      <input type="text" name="rubah" v-model="rubah"><br>
      <button v-on:click="tampilkan()">Tampilkan</button>
      <button v-on:click="counter +=1">Add 1</button>
      <p>Tombol telah ditekan sebanyak {{counter}} kali</p>
      <button v-on:click="greet()">Greet</button><br>
      <button v-on:click="say('hi')">Say hi</button>
      <button v-on:click="say('what')">Say what</button><br>
      <input type="text" v-on:keyup.enter="submit()">
      <button v-on:click="app2.alertcuy()">Tekan enter</button>


      <div v-for="(todo,index) in todos">
      <div class="form-group">
        <label>Nama</label>
        <input type="text" name="nama[]" v-bind:value="todo.text">
      </div>
    </div>
    <button @click="addForm()"> Tambah form</button>
    Ini adalah tambahan dari cabang kantor
    <br>
    <br>
    <br>
    <form>
      Satu
      <input type="number" name="satu" v-model="satu"><br>
      Dua
      <input type="number" name="dua" v-model="dua"><br>
      Tiga
      <input type="number" name="tiga" v-model="tiga"><br>
      <br>
      Total: {{total()}}
    </form>

  </div>
</body>
<script>
var app2 = new Vue({
  el: "#app2",
  data: {
    message: "You loaded this page on " + new Date().toLocaleString(),
    pesan: "Hello VueJS!",
    seen: true,
    rubah: "Coba rubah",
    counter:0,
    todos:[
      {text:"Learn JavaScript",bahasa:"Belajar JavaScript"},
      {text:"Learn Vue",bahasa:"Belajar Vue"},
      {text:"Build something awesome",bahasa:"Membangun sesuatu yang keren"}
    ],
    satu:0,
    dua:0,
    tiga:0,
    total:function(){
      return Number(this.satu)+Number(this.dua)+Number(this.tiga);
    }
  },
  methods:{
    reverseMessage:function(){
      this.message = this.message.split('').reverse().join('');
      this.pesan = this.pesan.split('').reverse().join('');
    },
    greet:function(event){
      alert('Hello kamu sudah menekan '+this.counter+ 'kali');
      if(event){
        alert(event.target.tagName);
      }
    },
    say:function(message){
      alert(message);
    },
    submit:function(){
      alert("Anda menekan enter");
    },
    tampilkan:function(){
      alert(this.rubah);
    },
    addForm:function(){
      this.todos.push({text:"Tambahan",bahasa:"Bahasa"});
    },
    alertcuy:function(){
      alert("alert cuy");
    }
  }
});
//bisa langsung panggil seperti ini di javascript
// app2.greet();

</script>
<script>
  app2.alertcuy();
</script>
</html>
