<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Coba VueJS</title>
</head>
<body>
  <div id="app">
    <div class="row">
      {{nama}}
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>ID Barangs</th>
          <th>Nama Barang</th>
          <th>Jenis Barang</th>
          <th>Tanggal Kadaluarsa</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="b in dataBarang">
          <td>{{b.idBarang}}</td>
          <td>{{b.namaBarang}}</td>
          <td>{{b.jenisBarang}}</td>
          <td>{{b.tanggalKadaluarsa}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal" @click="editBarang(b)">
              Edit
            </button>
            <button type="button" class="btn btn-danger" @click="hapusBarang(b)">
              Hapus
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <br>
    <br>
    <form v-if="form">
      Nama Barang : <input type="text" v-model="inputDataBarang.namaBarang"><br>
      Jenis Barang: <input type="text" v-model="inputDataBarang.jenisBarang"><br>
      Tanggal Kadaluarsa: <input type="date" v-model="inputDataBarang.tanggalKadaluarsa"><br>
      <button v-if="enable" type="button" class="btn btn-primary" data-dismiss="modal" @click="simpanBarang(inputDataBarang)">Simpan</button>
      <button v-else="enable" type="button" class="btn btn-success" data-dismiss="modal" @click="updateBarang(inputDataBarang)">Update</button>
    </form>
  </div>

</body>
<script>
var app = new Vue({
  el: "#app",
  data:{
    nama: "Rendy Reynaldy Anggradwiguna",
    dataBarang:[],
    inputDataBarang: {},
    form:true,
    enable:true,
  },
  methods:{
    generateUUID:function(){
      var d = new Date().getTime();
      if(window.performance && typeof window.performance.now === 'function'){
        d += performance.now();
      }
      var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random() * 16) % 16 | 0;
        d = Math.floor(d / 16);
        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
      return uuid;
    },
    tambahBarang:function(){
      this.enable = true;
      this.inputDataBarang = {};
    },
    simpanBarang:function(barang){
      this.dataBarang.push({
        'idBarang':this.generateUUID(),
        'namaBarang':barang.namaBarang,
        'jenisBarang':barang.jenisBarang,
        'tanggalKadaluarsa':barang.tanggalKadaluarsa
      });
    },
    editBarang: function(barang) {
      this.enable = false;
      this.index = this.dataBarang.indexOf(barang);
      this.inputDataBarang.idBarang = barang.idBarang;
      this.inputDataBarang.namaBarang = barang.namaBarang;
      this.inputDataBarang.jenisBarang = barang.jenisBarang;
      this.inputDataBarang.tanggalKadaluarsa = barang.tanggalKadaluarsa;
    },
    updateBarang: function(barang) {
      this.dataBarang[this.index].idBarang = barang.idBarang;
      this.dataBarang[this.index].namaBarang = barang.namaBarang;
      this.dataBarang[this.index].jenisBarang = barang.jenisBarang;
      this.dataBarang[this.index].tanggalKadaluarsa = barang.tanggalKadaluarsa;
      this.inputDataBarang = {};
    },
    hapusBarang: function(barang) {
      var result = confirm('Anda ingin menghapus data barang ?');
      if (result) {
        this.index = this.dataBarang.indexOf(barang);
        this.dataBarang.splice(this.index, 1);
      }
    }
  }
});
</script>
</html>
